# IDEs and Text editors
.vscode
__pycache__/*

# mac os files
.DS_Store

#captured data
CICFlowMeter-master/data/*

#log data
CICFlowMeter-master/logs

#gradle files
CICFlowMeter-master/.gradle/
CICFlowMeter-master/.gradle/*
CICFlowMeter-master/.gradle/4.2/fileContent/fileContent.lock
CICFlowMeter-master/logs/info.log
CICFlowMeter-master/logs/*
CICFlowMeter-master/.gradle/*/*
CICFlowMeter-master/.gradle/4.2/fileContent/fileContent.lock
CICFlowMeter-master/.gradle/buildOutputCleanup/buildOutputCleanup.lock
CICFlowMeter-master/.gradle/buildOutputCleanup/outputFiles.bin
CICFlowMeter-master/gradlew
config.json
