@font-face {
  font-family: ubuntu;
  src: url("/static/fonts/Ubuntu-Regular.woff");
}

html{
  height: 100%;
}
body {
  font-family: ubuntu, sans-serif;
  min-height: 100%;
}

h1 {
  color: green;
}

#logo img {
  max-width: 150px;
}
.navbar{
  height: 75px;
  background: #474787!important;
}
.nav-item .btn {
  background-color: transparent;
}

.xyz {
  background-size: auto;
  text-align: center;
  padding-top: 100px;
}

.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}

.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}

.scanning {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  font-size: 21px;
  text-align: center;
  border: 10px solid #ffdd59;
  padding: 2px 2px;
  background-color: #ffd32a;

}

.btntoscan {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  font-size: 21px;
  text-align: center;
  border: 10px solid #706FD3;
  padding: 2px 2px;
  background-color: #474787;
}

.btntoattack {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  font-size: 26px;
  text-align: center;
  border: 10px solid #CC625C;
  padding: 2px 2px;
  background-color: #FF3F34;
  display: none;
}
.btntoattack b{
  color: white;
  -webkit-text-stroke: 1px black;
}
.btntoattack p{
  font-size: 17px;
}

.btn:focus {
  outline: none !important;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: thin dotted;
  outline-offset: -2px;
}

.navbar-default {
  box-shadow: none;
  background-color: #474787;
  border-color: #474787;
}

#ss2 {
  visibility: hidden;
}


.attackModal .modal-header{
  background-color: #474787;
  border-top: 5px solid #706FD3;
  border-radius: 0;
}
.attackModal .info_title{
  padding-left: 45px;
  width: 40%;
  vertical-align: top;
  display: inline-block;
}
.attackModal .info_content{
  width: 57%;
  vertical-align: top;
  display: inline-block;
  padding: 0;

}
.attackModal .info_title li{
  list-style-type: none;
  line-height: 45px;
  font-size: 20px;
  font-weight: bold;
}
.attackModal .info_content li{
  list-style-type: none;
  line-height: 45px;
  font-size: 18px;
}
.modal-body{
  padding-top: 50px;
  padding-bottom: 50px;
}
.form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i { background-color: #fd2104; }

.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }

