<html>

<head>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/img/shield.png" />
    <title>Bot Attack</title>
</head>

<body style="background-color:#fff">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="height: 75px; width: 100%; background-color: #474787; display:flex;justify-content: space-between;">
                <div>
                    <img src="./../static/img/logo.svg">
                </div>
                <div>
                    <h1 style="color: #fff; margin-right: 15px;    margin-top: 14px;">Bot Attack</h1>
                </div>
    
            </div>
    
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-12"">

                <p style=" font-size: larger;">
                A bot attack is the use of automated web requests to manipulate, defraud, or disrupt a website,
                application, API, or end-users. Bot attacks started out as simple spamming operations and have
                branched into complex, multinational criminal enterprises with their own economies and
                infrastructures.
                Bot attacks are automated, ranging from individual cyber criminals to vast hacking
                organizations.
                Sophisticated attackers write custom code to vary frequency and length of an automated attack,
                designed to circumvent security monitoring.</p>
                <div style="text-align: center;"><img src="./../static/img/bot.jpg" height="300px" width="600px">
                </div>
                <h4 style="color: #20206d;"><b>Symptoms of Bot Attacks</b></h4>
                <ul style="font-size: larger;">
                    <li>Frequent computer crashes without an identifiable reason</li>
                    <li>Slow internet access</li>
                    <li>Problems with computer shut down (it takes its time to shut down or doesn’t shut down
                        completely/correctly)</li>
                    <li>Programs that loaded quickly and effortlessly previously are slow to load</li>
                    <li>Advertisements pop-up on the screen – but you are not using a web browser </li>
                </ul>
                <h4 style="color: #20206d;"><b>How to defend your machine against Bot attacks</b></h4>
                <ul>
                    <li><b>Run regular antivirus scans</b><br>
                        This is the absolute best and most effective way to deal with any form of virus or malware,
                        including botnet malware.</li>
                    <br>
                    <li><b>Never download attachments from email senders you don’t know</b><br>
                        Luckily, most modern email providers like Gmail and Outlook are pretty good about filtering
                        out messages that look like spam or viruses.

                    </li>
                    <br>
                    <li><b>Run regular software and operating system updates to patch vulnerabilities</b><br>
                        The world of malware moves incredibly fast. New viruses are created every single day, which
                        is a
                        challenge for antivirus and software creators to keep up with
                    </li><br>
                    <li><b>Antiviruses are the Best Solution</b><br>
                        Outside of practicing safe browsing and download behaviors, the best thing you can do is
                        install
                        a good antivirus, keep it up to date, and run regular health checks of your machine.

                        Any reputable antivirus should be able to easily remove botnet malware from your computer
                        and
                        prevent any future infections.</li><br>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>