<html>

<head>

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
  <div class="container-fluid ">
    <nav class="navbar navbar-default">
      <div class="navbar">
        <ul class="nav nav-pills">
          <li class="nav-item" id="logo" style="top: 0.5vw;">
            <img src="/static/img/logo.svg">
          </li>
          <li class="nav-item" style="float: right; top: 10px;">
            <button class="btn">
              <img src="/static/img/aboutUs.svg" width="25vw" height="25vw">
              <b href="#" style="font-size: 14px; top: 1vw; "> <span></span>About Us</b>
            </button>
          </li>
          <li class="nav-item" style="float: right; right: 1vw; top: 10px;">
            <button class="btn">
              <img src="/static/img/settings.svg" width="25vw" height="25vw">
              <b style="font-size: 14px; top: 1vw;">Settings</b>
            </button>
          </li>
        </ul>
      </div>
    </nav>
    <div style=" width: 100%; text-align: center; margin-bottom: 10px; margin-top: 10px;">
      <b id="ss1">Scan your network for anomalous activities</b>
    </div>
    <br>
    <div style="width: 100%; text-align: center;" id="scan-btn">
      {% if status == "off" %}
      <a href="#" id="start"><button type="button" class="btn btn-circle btntoscan"  onclick="scan(this)"><b id="scanning_text">SCAN <br> NETWORK</b></button></a>
      {% else %}
      <a href="#" id="stop"><button type="button" class="btn btn-circle scanning"  onclick="scan(this)"><b id="scanning_text">Scanning</b></button></a>
      {% endif %}
      <button type="button" class="btn btn-circle btntoattack" data-toggle="modal" data-target="#attackModal">
        <b>Suspicious <br> activity  &nbsp;found</b>
        <p>Click for more infromation</p>
      </button>
      <br>
      <div style="width: 100%; text-align: center; margin-bottom: 10px; margin-top: 10px;">
        <b id="ss2">We are inspecting the traffic of your network for any suspicious activity</b>
      </div>
    </div>
  </div>

<div class="modal fade" id="attackModal" tabindex="-1" role="dialog" aria-labelledby="attackModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
        <img src="/static/img/logo_white.svg">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="info_title">
            <li>Location:</li>
            <li>Type of attack:</li>
            <li>Level of threat:</li>
            <li>Behavior description:</li>
          </ul>
          <ul class="info_content">
            <li>Windows Vista</li>
            <li>DDoS+PortScan</li>
            <li>Windows Vista</li>
            <li>denial-of-service attack is a cyber-attack in which 
              the perpetrator seeks to make a machine or network resource unavailable to its intended users by temporarily 
              or indefinitely disrupting services of a host connected to the Internet.</li>
          </ul>
        </div>
        
      </div>
    </div>
</div>
  <script src="/static/js/jquery-3.5.1.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  <script type=text/javascript src="/static/js/script.js"></script>
  <script src="/static/js/d3.min.js"></script>
  <script type=text/javascript>
    var socket = io();
    socket.on('predection', function(res) {
      console.log('got the result:',res);
      console.log(res.result);
      var maxProp = null
      var maxValue = -1
      for (var prop in res.result) {
        if (res.result.hasOwnProperty(prop) && prop!='0') {
          var value = res.result[prop]
          if (value > maxValue ) {
            maxProp = prop
            maxValue = value
          }
        }
      }
      console.log('MAX Prop ->'+maxProp);
      if (res.result[maxProp]>=5 && maxProp!='0'){
        console.log("ATTACK DETECTED -> "+maxProp);
        $(".btntoattack").show()
        $(".scanning").hide()      
      }
    });
    socket.on('disconnect', function(res) {
      socket.socket.reconnect();
    });
    var status = '{{ status }}'; 
    if (status=='off'){
      $('#ss1').visible();
      $('#ss2').invisible();
    }else {
      $('#ss1').invisible();
      $('#ss2').visible();
      socket.emit('request_predection');
    }
    async function scan(e) {
      $(e).toggleClass('btntoscan scanning');
      if ($('#scanning_text').html() == "SCAN <br> NETWORK") {
        $('#scanning_text').html("Scanning");
        $('#ss2').visible();
        $('#ss1').invisible();
        
        $('#scanning_text').html("SCANNING");
        await $.post('/start');
        socket.emit('request_predection');
      } else {
        $('#ss1').visible();
        $('#ss2').invisible();
        $('#scanning_text').html("SCAN <br> NETWORK");
        await $.post('/stop');
        socket.emit('stop_predection');
      }
    
    }
    
  </script>
   
</body>


</html>