<html>

<head>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/img/shield.png" />
    <title>DDoS Attack</title>
</head>

<body style="background-color:#fff">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="height: 75px; width: 100%; background-color: #474787; display:flex;justify-content: space-between;">
                <div>
                    <img src="./../static/img/logo.svg">
                </div>
                <div>
                    <h1 style="color: #fff; margin-right: 15px;     margin-top: 14px;">DDoS Attack</h1>
                </div>
    
            </div>
    
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-12">
                <p style="font-size: larger;">
                    A distributed denial-of-service (DDoS) attack is a malicious attempt to disrupt the normal traffic
                    of a targeted server, service or network by overwhelming the target or its surrounding
                    infrastructure with a flood of Internet traffic.

                    DDoS attacks achieve effectiveness by utilizing multiple compromised computer systems as sources of
                    attack traffic. Exploited machines can include computers and other networked resources such as IoT
                    devices.

                    From a high level, a DDoS attack is like an unexpected traffic jam clogging up the highway,
                    preventing regular traffic from arriving at its destination.

                </p>
                <div style="text-align: center;"><img src="./../static/img/ddos.png" height="300px" width="600px">
                </div>
                <h4 style="color: #20206d;"><b>Symptoms of DDos Attacks</b></h4>
                <ul style="font-size: larger;">
                    <li>Unusually slow network performance (opening files or accessing web).</li>
                    <li>Unavailability of a particular web site.</li>
                    <li>Inability to access any web site.</li>
                </ul>
                <h4 style="color: #20206d;"><b>How to defend your machine against DDoS attacks</b></h4>
                <ul>
                    <li><b>Method 1: Obtaining a new IP address</b><br>
                        This is usually an effective way to stop an ongoing attack, since attackers
                        often configure their botnet to operate automatically for as long as the target IP remains
                        active.</li>
                    <br>
                    <li><b>Method 2: Get help recognizing attacks</b><br>
                        Companies often use technology or anti-DDoS services to help defend themselves. These can help
                        you recognize between legitimate spikes in network traffic and a DDoS attac</li>
                    <br>
                    <li><b>Method 3: Contact your Internet Service provider</b><br>
                        If you find your company is under attack, you should notify your Internet Service Provider as
                        soon as possible to determine if your traffic can be rerouted. Having a backup ISP is a good
                        idea, too. Also, consider services that can disperse the massive DDoS traffic among a network of
                        servers. That can help render an attack ineffective.</li><br>
                    <li><b>Method 4: Investigate black hole routing</b><br>
                        nternet service providers can use “black hole routing.” It directs excessive traffic into a null
                        route, sometimes referred to as a black hole. This can help prevent the targeted website or
                        network from crashing. The drawback is that both legitimate and illegitimate traffic is rerouted
                        in the same way.</li><br>
                    <li><b>Method 5: Configure firewalls and routers</b><br>
                        Firewalls and routers should be configured to reject bogus traffic. Remember to keep your
                        routers and firewalls updated with the latest security patches.
                    </li>
                    <br>
                    <li><b>Method 6: Consider front-end hardware
                        </b><br>
                        Application front-end hardware that’s integrated into the network before traffic reaches a
                        server can help analyze and screen data packets. The hardware classifies the data as priority,
                        regular, or dangerous as they enter a system. It can also help block threatening data.

                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</body>

</html>